.App {
  text-align: center;
  font-family: "Consolas";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Applogo{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 171px;
  
}

.gray-background{
  width: 200px;
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: rgba(228, 228, 228, 0.47);
}

.logoText{
  position: relative;
  margin-top: 20px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  
  color: #000000;
}
.inputGuide{
  color: #000;
  margin-bottom: 4px;
	text-decoration:none;
}
.inputNickname{
  border-bottom: 10;
  padding: 3px;

  border-bottom-color: black;
  border-width: 1px;
}

.btn {
	background-color:#FF705D;
  border-radius:13px;
  border: 0;
	cursor:pointer;
  color:#ffffff;
  margin: 5vmax;
  font-size:15px;
	padding:6px 33px;
	text-decoration:none;
}

.btn:hover {
	background-color:#ff4d35;
}
.btn:active {
  border: 0;
  position:relative;
	top:0.5px;
}
.btn:focus {
  border: none;
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
